.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #282c34;
}

.content {
    width: 1360px;
    padding-top: 120px;
    padding-bottom: 200px;
    z-index: 2;
}

.title {
    font-size: 90px;
    font-weight: bold;
    color: white;
    margin-bottom: 80px;
}

.roadmap_img {
    width: 100%;
    margin-bottom: 60px;
}

.tokenomic_img {
    width: 100%;
    margin-bottom: 300px;
}

.backImageWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
}

.backImage {
    height: 100%;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    .title {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .roadmap_img {
        margin-bottom: 73px;
    }

    .tokenomic_img {
        margin-bottom: 100px;
    }
}